<topic-breadcrumb class="noGrow" [topic]="topic"></topic-breadcrumb>
<h1 class="noGrow">{{topic?.name}}</h1>
<p class="noGrow">{{topic?.description}}</p>
<div class="topicContainer">
    <ng-container *ngFor="let item of content?.items" [ngSwitch]="item.type">
        <topic-index *ngSwitchCase="itemType.index" [topic]="topic"></topic-index>
        <topic-text *ngSwitchCase="itemType.text" [content]="item.content"></topic-text>
        <topic-youtube *ngSwitchCase="itemType.youTube" [content]="item.content"></topic-youtube>
        <topic-image *ngSwitchCase="itemType.image" [content]="item.content"></topic-image>
        <div *ngSwitchCase="itemType.didYouKnow">didYouKnow</div>
        <div *ngSwitchCase="itemType.resource">resource</div>
        <!-- <div *ngSwitchDefault>Not set</div> -->
    </ng-container>
</div>
<div class="previousNextContainer">
    <div *ngIf="!previous" class="link" [routerLink]="[ './../../' ]">&lt; Index</div>
    <div *ngIf="previous" class="link" [routerLink]="[ './../' + previous?.id ]">&lt; {{previous?.name}}</div>
    <div></div>
    <div *ngIf="next" class="link" [routerLink]="[ './../' + next?.id ]">{{next?.name}} &gt;</div>
</div>