@import "./../../styles/colors.scss";
:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header,
footer {
    background-color: $primary-color;
    color: $background-color;
    flex-grow: 0;
    flex-shrink: 0;
}

header {
    font-size: 2em;
    text-align: center;
}

footer {
    text-align: right;
}

div#content {
    flex-grow: 1;
    padding: 1em;
    overflow-y: auto;
}