<h1>Disclaimer</h1>
<h2>What separates the talented from the successful is a lot of hard work.</h2>

<img src="images/talent.jpg" />

<p>The purpose of this website is to expose the base theory and mathematics in music. There is no intent, objective or promise,
    what so ever, to discuss or (pretend to) determine how one becomes a musician, even less, a successful one. It is, henceforth,
    assumed the readers acknowledges that knowledge and understanding are not the (only) vehicles for becoming a musician
    in theory and in practise and that, to achieve that purpose, that, in opinion of the disclaimer, is achievable by everyone,
    regardless of age, genetic build, gender, creed or any other discriminatory factor, with no exception, a certain amount
    of work is required and, during that work and forever after, a great amount of honest self evaluation is paramount because
    it is very hard to improve when one does not realise it is not great and one tends to regard the result of its own work
    and creations as perfect. Furthermore, the presenter is not liable for any damages resulting of reading this content.</p>

<p>If you have anything comment, request or find anything offensive (like rights violation of media content), please report
    an issue to the GitHub repository that hosts this website in
    <a href="https://github.com/Bigsby/music" target="blank">https://github.com/Bigsby/music</a>
</p>